<div>
    <app-nav class="top"></app-nav>
</div>
<div class="d-flex justify-content-between mt-4  p-3 mb-5 bg-white rounded card"
    style="margin-left:20% ; margin-right:20% ;">
    <div class="d-grid gap-5 d-md-flex justify-content-md-center">
        <a class="btn btn-dark" href="/deals" role="button">Find Deals</a>
        <a class="btn btn-dark" href="/flight-status" role="button">Check Flight status</a>
        <a class="btn btn-dark" href="/feedback" role="button">FeedBack</a>
    </div>
</div>