<app-nav class="top"></app-nav>
<div fxLayout="row" fxFill>
    <div fxLayout="column" fxFlex="30">
    </div>
    <div fxLayout="column" fxFlex="50">
        <div fxLayout="row" fxFlex="10">
            <div *ngIf="!isUserExists" class="py-3 mt-4">
                <h3 class="mt-4">User Details not Present</h3>
            </div>
        </div>
        <div fxLayout="row" fxFlex="80">
            <div fxLayout="column" fxFlex="10">

            </div>
            <div fxLayout="column" fxFlex="90">
                <div fxLayout="column" fxFill>
                    <div fxLayout="column" fxFill *ngIf="isUserExists" class="py-3 mt-4">
                        <!-- <div fxLayout="row" fxFlex="8">
                            <div fxLayout="column" fxFlex="20">
                                <h3> First Name :</h3>
                            </div>
                            <div fxLayout="column" fxFlex="30">
                                <h3 style="text-align:center ;"> {{profileDetails.firstName}}</h3>
                            </div>
                        </div>
                        <div fxLayout="row" fxFlex="8">
                            <div fxLayout="column" fxFlex="20">
                                <h3> Last Name :</h3>
                            </div>
                            <div fxLayout="column" fxFlex="30">
                                <h3 style="text-align:center ;"> {{profileDetails.lastName}}</h3>
                            </div>
                        </div>
                        <div fxLayout="row" fxFlex="8">
                            <div fxLayout="column" fxFlex="20">
                                <h3> Email :</h3>
                            </div>
                            <div fxLayout="column" fxFlex="30">
                                <h3 style="text-align:center ;"> {{profileDetails.emailId}}</h3>
                            </div>
                        </div>
                        <div fxLayout="row" fxFlex="8">
                            <div fxLayout="column" fxFlex="20">
                                <h3> Contact Number :</h3>
                            </div>
                            <div fxLayout="column" fxFlex="30">
                                <h3 style="text-align:center ;"> {{profileDetails.phoneNumber}}</h3>
                            </div>
                        </div>
                        <div fxLayout="row" fxFlex="10">
                            <div fxLayout="column" fxFlex="20">
                                <h3> Address :</h3>
                            </div>
                            <div fxLayout="column" fxFlex="30">
                                <h3 style="text-align:center ;"> {{profileDetails.userAddress}}</h3>
                            </div>
                        </div>
                        <div fxLayout="row" fxFlex="8">
                            <div fxLayout="column" fxFlex="20">
                                <h3> Travel Mileage :</h3>
                            </div>
                            <div fxLayout="column" fxFlex="30">
                                <h3 style="text-align:center ;"> {{profileDetails.travelMileage}}</h3>
                            </div>
                        </div>
                        <div fxLayout="row" fxFlex="8">
                            <div fxLayout="column" fxFlex="20">
                                <h3> UserName :</h3>
                            </div>
                            <div fxLayout="column" fxFlex="30">
                                <h3 style="text-align:center ;"> {{profileDetails.userName}}</h3>
                            </div>
                        </div> -->
                        <div class="col-lg-8">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">First Name</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{profileDetails.firstName}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Last Name</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{profileDetails.lastName}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Email</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{profileDetails.emailId}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">User Name</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{profileDetails.userName}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Contact Number</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{profileDetails.phoneNumber}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Address</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{profileDetails.userAddress}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Mileage covered</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{profileDetails.travelMileage}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>