.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.dropbtn {
  background-color: aliceblue;
  color: black;
  padding: 10px;
  font-size: 16px;
  border: none;
  align-self:flex-end;
}

.dropdown {
  position: relative;
  padding-right: 3rem;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:aliceblue;
  width: 120px;
  box-shadow: 0px 8px 1px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.abct{
  align-items: flex-end;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: azure;}







