/* .top {
  position: fixed;
  padding-top: 0;
  width: 100%;
  z-index: 1;
} */

.container {
  padding-top: 60px;
}

div {
  /* margin-top: 10px; */
  margin-bottom: 10px;

}

search{
  position: fixed;
  z-index: 1;
}

.dropbtn {
  background-color: aliceblue;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  align-self:flex-end;
}

.dropdown {
  position: relative;
  padding-right: 3rem;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100px;
  box-shadow: 0px 8px 1px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}