<!-- <div fxLayout="column" fxFill>
    <div fxLayout="row" fxFlex="10" style="background-color:beige ;">
        <app-nav class="top"></app-nav>
    </div>
    <div fxLayout="row" fxFlex="20">
        <div fxLayout="column" fxFlex="10" style="background-color:black ;">

        </div>
        <div fxLayout="column" fxFlex>
            <div class="row">
                <h2 style="text-align:center ;"> Flight Details</h2>
                <div class="col-sm-3">
                    <p>{{flightResponse.flightNumber}}</p>
                    <p>{{flightResponse.sourceCity}} to {{flightResponse.destinationCity}}</p>
                    <p>{{flightResponse.startDate}} {{flightResponse.startTime}} and to {{flightResponse.endDate}} {{flightResponse.endTime}}</p>
                    <p>{{flightResponse.airlinesName}}</p>
                </div>
                <div class="col-sm-3" >
                </div>
                <div class="col-sm-3">
                    <p>{{flightResponse.flightRating}}</p>
                    <p>{{flightResponse.price}}</p>
                </div>
                <div class="col-sm-3" style="text-align:end ;">
                    <a href="#" style="float: left ;">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxFlex="10" style="background-color:black ;">

        </div>
    </div>
</div> -->
<div>
    <app-nav class="top"></app-nav>
</div>
<section class="h-100 h-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                                        <h5 class="mb-0 text-muted">{{count}} items</h5>
                                    </div>

                                    <div *ngIf="flightPresent" class="row mb-4 d-flex justify-content-between align-items-center">
                                        <hr class="my-4">
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <img src="https://news.delta.com/sites/default/files/2021-11/delta_c_r.png"
                                                class="img-fluid rounded-3" alt="Cotton T-shirt">
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                            <h5 class="text-muted">{{flightResponse.flightNumber}}</h5>
                                            <h5 class="text-black mb-0">{{flightResponse.airlinesName}}</h5>
                                            <h5 class="text-black mb-0">{{flightResponse.sourceCity}} to
                                                {{flightResponse.destinationCity}}</h5>
                                            <h5 class="text-black mb-0">{{flightResponse.startDate}}
                                                {{flightResponse.startTime}}</h5>
                                            <h5 class="text-black mb-0">{{flightResponse.endDate}}
                                                {{flightResponse.endTime}}</h5>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                            <input id="form1" min="1" max="9" [(ngModel)]="passengerCount" name="quantity" value="1" type="number"
                                                class="form-control form-control-sm" />
                                            <button (click)="passengerSubmit()">
                                                submit
                                            </button>
                                        </div>
                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                            <h5 class="mb-0">$ {{flightResponse.price}}</h5>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                            <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                                        </div>

                                    </div>

                                    <!-- <hr class="my-4"> -->

                                    <div *ngIf="returnFlightPresent" class="row mb-4 d-flex justify-content-between align-items-center">

                                        <hr class="my-4">
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <img src="https://news.delta.com/sites/default/files/2021-11/delta_c_r.png"
                                                class="img-fluid rounded-3" alt="Cotton T-shirt">
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                            <h5 class="text-muted">{{returnlightResponse.flightNumber}}</h5>
                                            <h5 class="text-black mb-0">{{returnlightResponse.airlinesName}}</h5>
                                            <h5 class="text-black mb-0">{{returnlightResponse.sourceCity}} to
                                                {{returnlightResponse.destinationCity}}</h5>
                                            <h5 class="text-black mb-0">{{returnlightResponse.startDate}}
                                                {{returnlightResponse.startTime}}</h5>
                                            <h5 class="text-black mb-0">{{returnlightResponse.endDate}}
                                                {{returnlightResponse.endTime}}</h5>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                            <input id="form1" min="1" max="9" [(ngModel)]="returnPassengerCount" name="quantity" value="1" type="number"
                                            class="form-control form-control-sm" />
                                        <button (click)="returnPassengerSubmit()">
                                            submit
                                        </button>
                                        </div>
                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                            <h5 class="mb-0">€ {{returnlightResponse.price}}</h5>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                            <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                                        </div>


                                    </div>


                                    <div *ngIf="hotelPresent"
                                        class="row mb-4 d-flex justify-content-between align-items-center">

                                        <hr class="my-4">


                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img7.webp"
                                                class="img-fluid rounded-3" alt="Cotton T-shirt">
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                            <h5 class="text-muted">Shirt</h5>
                                            <h5 class="text-black mb-0">Cotton T-shirt</h5>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                                            <input id="form1" min="0" name="quantity" value="1" type="number"
                                                class="form-control form-control-sm"/>
                                        </div>
                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                            <h5 class="mb-0">€ 44.00</h5>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                            <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase">items {{count}}</h5>
                                        <h5>€ {{totalPrice}}</h5>
                                    </div>

                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase">Sales Tax (8.25%)</h5>
                                        <h5>€ {{tax}}</h5>
                                    </div>

                                    <!-- <h5 class="text-uppercase mb-3">Shipping</h5>

                                    <div class="mb-4 pb-2">
                                        <select class="select">
                                            <option value="1">Standard-Delivery- €5.00</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                            <option value="4">Four</option>
                                        </select>
                                    </div> -->

                                    <h5 class="text-uppercase mb-3">Give code</h5>

                                    <div class="mb-5">
                                        <div class="form-outline">
                                            <input type="text" id="form3Examplea2"
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Examplea2">Enter your code</label>
                                        </div>
                                    </div>

                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-5">
                                        <h5 class="text-uppercase">Total price</h5>
                                        <h5>€ {{totalPrice + tax}}</h5>
                                    </div>

                                    <button type="button" class="btn btn-dark btn-block btn-lg"
                                        data-mdb-ripple-color="dark" (click)="submit()">Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>